<launch>
    <arg name="use_ns" default="false"/>

    <arg name="sim" default="false"/>

    <arg name="use_slam" default="true"/>

    <arg name="use_camera" default="true"/>
    <arg name="use_fixed_laser" default="true"/>
    <arg name="use_panning_laser" default="true"/>
    <arg name="use_panning_servo" default="false"/>

    <group if="$(arg use_ns)" ns="hexacopter">
        <param name="tf_prefix" value="hexacopter"/>

        <include file="$(find uav_launch)/launch/uav.launch">
            <arg name="sim" default="$(arg sim)"/>
            <arg name="use_slam" default="$(arg use_slam)"/>
            <arg name="use_camera" default="$(arg use_camera)"/>
            <arg name="use_fixed_laser" default="$(arg use_fixed_laser)"/>
            <arg name="use_panning_laser" default="$(arg use_panning_laser)"/>
            <arg name="use_panning_servo" default="$(arg use_panning_servo)"/>
        </include>
    </group>

    <group unless="$(arg use_ns)">
        <include file="$(find uav_launch)/launch/uav.launch">
            <arg name="sim" default="$(arg sim)"/>
            <arg name="use_slam" default="$(arg use_slam)"/>
            <arg name="use_camera" default="$(arg use_camera)"/>
            <arg name="use_fixed_laser" default="$(arg use_fixed_laser)"/>
            <arg name="use_panning_laser" default="$(arg use_panning_laser)"/>
            <arg name="use_panning_servo" default="$(arg use_panning_servo)"/>
        </include>
    </group>
</launch>
