<?xml version="1.0"?>
<launch>

<!-- the UAV specific files and the config params are loaded on system boot -->


 <!-- <include file="$(find uav_platform)/launch/uav_camera_landing.launch" /> -->
 
 
 <!-- Load the configuration files -->
<rosparam command="load" file="$(find uav_launch)/config/UAV.yaml" ns="/UAV" />



<param name="robot_description" textfile="$(find HexaURDF)/Hexa.urdf" />
 
 

<!-- Robot State Publisher  -->
<node pkg="robot_state_publisher" type="state_publisher" name="rob_st_pub" output="screen">
<param name="publish_frequency" value="50.0" />
</node>

<!-- Bring up the State Publisher -->
<!-- Subscribes to pan_scan, ekf_state and slam_out_pose. Publishes uav_state (Odometry msg) -->
<node pkg="uav_state_publisher" type="uav_state_publisher" name="uav_state_publisher" output="screen">
  <rosparam file="$(find uav_launch)/config/uav_state_publisher.yaml" command="load"/>
</node>

<node pkg="tf" type="static_transform_publisher" name="map2slam_map_publisher" args="0 0 0 0 0 0 map slam_map 100" />

<node pkg="uav_goal_interpolate" type="uav_goal_interpolate" name="uav_goal_interpolate" output="screen" >
  <rosparam file="$(find uav_launch)/config/uav_goal_interpolate.yaml" command="load"/>
</node>

<!-- ....................sensor_msgs imu............................................................. -->
<!-- Bring up the hokuyos -->
<!-- Vertical hokuyo -->
<!-- if="$(arg use_tilt_laser_)"-->


<!-- .................................................................................... -->
<!-- Hector Slam -->
<node pkg="hector_mapping" type="hector_mapping" name="hector_slam" output="screen">
<rosparam file="$(find uav_launch)/config/hector_slam.yaml" command="load"  />
</node>

<!-- TODO: There is hector_geotiff node that can be brought up to save the trajectory of the UAV-->

<!-- ................................................................................ -->
<!-- Hector Localization -->
<!-- Subscribes to raw_imu, pressure_height, magnetic, fix (gps), fix_velocity (gps velocity), poseupdate     -->
<node pkg="hector_pose_estimation" type="pose_estimation" name="hector_localization">
<remap from="state" to="ekf_state"/>
<param name="with_covariances" value="false"/>
<param name="system/gyro_stddev" value="0.1" />
<param name="system/acceleration_drift" value="0.0" />
<param name="system/acceleration_stddev" value="4.0" />
<param name="system/velocity_stddev" value="0.0" />
<param name="poseupdate/fixed_position_xy_stddev" value="0.0" />
</node>
<!--Only one param. No yaml file needed -->

<!-- ....................................................................... -->
<!-- Bring up the UAV Local Planner -->
<node pkg="uav_local_planner" type="uav_local_planner" name="uav_local_planner" output="screen">
<rosparam file="$(find uav_launch)/config/uav_local_planner.yaml" command="load"/>
<remap from="goal" to="goal_pose"/>
<remap from="path" to="path" />
<!-- Future use -->
<remap from="twist" to="uav_state"/>
<!-- TODO:  Odometry msgs are published on the uav_state_topic. Not twist !! Che/hector_localization/system/gyro_stddevck this. -->
<remap from="local_collision_map" to="local_collision_map"/>
<!-- TODO: I am not sure about this. Should this be the map published by hector_slam ? -->

</node>
<!-- Bring up the dynamic reconfigure GUI for controller gains-->
<!-- <node pkg="dynamic_reconfigure" type="reconfigure_gui" name="dynamic_reconfigure_gui"/>  -->

<!-- ............................................................................. -->
<!-- Bring up RVIZ -->
<!-- <node pkg="rviz" type="rviz" name="rviz"/> -->
<!-- Bring up the interactive marker goal setting node -->
<!-- Publishes on the flight_mode and goal_pose topics -->
<node pkg="uav_set_goal" type="uav_set_goal" name="uav_set_goal" output="screen" >
  <rosparam file="$(find uav_launch)/config/uav_set_goal.yaml" command="load"/>
</node>
<!-- .................................................................................... -->
</launch>

