<launch>
    <arg name="sim" default="false"/>

    <rosparam command="load" file="$(find uav_launch)/config/UAV.yaml" ns="UAV"/>

    <node unless="$(arg sim)" pkg="uav_local_planner" type="uav_local_planner" name="uav_local_planner" launch-prefix="nice --1">
        <rosparam file="$(find uav_launch)/config/uav_local_planner.yaml" command="load"/>
        <remap from="goal" to="goal_pose"/>
        <remap from="path" to="MoveBase3D/FlyPlan"/>

        <!-- Future use (Andrew: HUH?) -->
        <!-- TODO:  Odometry msgs are published on the uav_state_topic. Not twist !! Check this. -->
        <!-- TODO: I am not sure about this. Should this be the map published by hector_slam ? -->
    </node>

    <node if="$(arg sim)" pkg="uav_local_planner" type="twist_local_planner" name="uav_local_planner">
        <rosparam file="$(find uav_launch)/config/uav_local_planner_sim.yaml" command="load"/>
        <remap from="goal" to="goal_pose"/>
        <remap from="state" to="uav_state"/>
        <remap from="path" to="MoveBase3D/FlyPlan"/>
    </node>
</launch>
